.box {
    width: 100px;
    height: 100px;
    background: #f00;
}
.done {
    text-decoration: line-through;
}
.is-done {
    text-decoration: line-through;
}

.my-btn {
    width: 100px;
    height: 50px;
    border-radius: 4px;
    background: #409eff;
    color: #fff;
    line-height: 50px;
    text-align: center;
    border: none;
    outline: none;
}

.my-btn:active {
    background: #3a8ee6;
}

.down {
    display: inline-block;
    border: 10px solid transparent;
    border-top: 10px solid #000;
}

td, th {
    border: 1px solid #000;
}